body {
  width: 1440px;
  background-color: hsl(30, 38%, 92%);
}

h1,
.description,
button {
  font-family: Montserrat;
}

.main-header,
.original-price,
.current-price {
  font-family: Fraunces;
}

.container {
  position: absolute;
  top: 150px;
  left: 50%;
  margin-left: -300px;
  background-color: hsl(0, 0%, 100%);
  width: 600px;
  border-radius: 10px;
}

.desktop-img {
  float: left;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.mobile-img {
  display: none;
}

.desktop-img,
.container {
  height: 440px;
}

.description-container {
  position: relative;
  top: -5px;
  bottom: 10px;
  width: 240px;
  float: right;
  margin: 30px;
}

h1 {
  color: rgba(0, 0, 0, 0.6);
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 4px;
}

.main-header {
  font-size: 30px;
  margin-top: 20px;
  line-height: 30px;
}

.description {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  line-height: 22px;
  letter-spacing: 0.1px;
}

.current-price {
  color: hsl(158, 36%, 37%);
  font-size: 30px;
  float: left;
  margin-top: 20px;
}
.original-price {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  float: right;
  margin-top: 27px;
  margin-right: 40px;
}

button {
  background-color: hsl(158, 36%, 37%);
  color: hsl(0, 0%, 100%);
  border: none;
  border-radius: 8px;
  height: 45px;
  width: 240px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.3px;
  position: relative;
  bottom: 7px;
}
button:hover {
  cursor: pointer;
  background-color: hsl(160, 38%, 21%);
}
.cart-icon {
  position: relative;
  float: left;
  left: 53px;
}

/* RESPONSIVE */

@media screen and (max-width: 975px) {
  .desktop-img {
    display: none;
  }
  .mobile-img {
    display: flex;
    width: 380px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .container {
    width: 380px;
    height: 685px;
    top: 50px;
    margin-left: -200px;
    border-radius: 10px;
  }
  .description-container {
    width: 320px;
    top: -12px;
  }
  .description {
    margin-top: -5px;
  }
  .main-header {
    font-size: 37px;
    margin-top: 15px;
    line-height: 36px;
  }
  .current-price {
    margin-top: 35px;
    font-size: 35px;
  }
  .original-price {
    margin-top: 46px;
    margin-right: 97px;
  }
  button {
    width: 320px;
    height: 53px;
  }
  .cart-icon {
    left: 90px;
  }
}
